// Colors
$primary-color: #64f4ac;
$color-black: #000000;
$color-black80: #202022;
$color-black60: #28282b;
$color-black40: #2d2e32;
$color-black20: #333333;
$color-black0: rgba(0, 0, 0, 0);
$color-black-ligth: #0e0e0f;
$color-grey-dark: #63636b;
$color-grey: #656568;
$color-grey-ligth: #b6b6b7;
$color-white: #ffffff;
$color-white-ligth: #f1eded;
$color-green: $primary-color;
$color-blue: #3a98db;

// Backgrounds
$primary-background: $primary-color;
$background-black: $color-black;
$background-black80: $color-black80;
$background-black60: $color-black60;
$background-black40: $color-black40;
$background-black20: $color-black20;
$background-black0: $color-black0;
$background-black-ligth: $color-black-ligth;
$background-grey-dark: $color-grey-dark;
$background-grey: $color-grey;
$background-grey-ligth: $color-grey-ligth;
$background-white: $color-white;
$background-white-ligth: $color-white-ligth;
$background-green: $primary-background;
$background-blue: $color-blue;

// Fonts
$primary-font: $primary-color;
$font-black: $color-black;
$font-black80: $color-black80;
$font-black60: $color-black60;
$font-black40: $color-black40;
$font-black20: $color-black20;
$font-black0: $color-black0;
$font-black-ligth: $color-black-ligth;
$font-grey-dark: $color-grey-dark;
$font-grey: $color-grey;
$font-grey-ligth: $color-grey-ligth;
$font-white: $color-white;
$font-white-ligth: $color-white-ligth;
$font-green: $primary-font;
$font-blue: $color-blue;